<footer id="main_footer">
  <p class="copyright">&copy;2017 Cristina Rosario</p>
  <nav>
    <a href="https://twitter.com/crosariobatres"><i class="fa fa-twitter fa-3x"></i></a>
    <a href="https://www.linkedin.com/in/cristina-rosario-87556b77/"><i class="fa fa-linkedin fa-3x"></i></a>
    <a href="https://github.com/cristivania"><i class="fa fa-github fa-3x"></i></a>
  </nav>
</footer>
