/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "normalize";
 @import "posts";
 @import "pygments";

 body {
    margin:0px;
}

body {
   margin:0px;
}

.blog-banner h1{
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    font-size: 50px;
    width: 100%;
    height: 26px;
    padding: 0;
    margin: 0;
    margin-top: -130px; /* 1/2 height */
    text-align: center;
    color: white;

}


 body h1, h2, h3, p, ul, li {
   font-family: 'Oswald', sans-serif;
}

 h1{
   font-size: 2.5rem;
   letter-spacing: 2px;
 }

.navbar{
    background-image: url('');
    background-repeat: no-repeat;
    background-size: 100% auto;

}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;

}

 .navbar .navbar-collapse {
   text-align: center;
 }


.blog-banner img{
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    max-width: none;
    max-height: none;
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.header img{
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  max-width: none;
  max-height: none;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}
 .text-center{
   margin-top: 250px;
 }

 #about-section{
   padding-top: px;
   padding-right: 100px;
   padding-bottom: 100px;
   padding-left: 100px;
 }

 .aboutme{
   text-align: center;
   font-size: 40px;
 }

 .divider {
   display: block;
   margin: 30px;
   height: 2px;
   background-color: #90A4AE;
 }

 .goodheart{
   padding-bottom: 100px;
 }

 img {
   width: 30%;
   height: auto;
   max-width: 450px;
 }

.table td{
   text-align: center;
}
.borderless tr td {
    border: none !important;
    padding: 0px !important;
}

 .about-text{
   display: inline-block;
   width: 60%;
   vertical-align: top;
   font-size: .5em;
   margin-top: 100px;
 }

 .box-content {
   display: inline-block;
   width: 200px;
   padding: 10px;
 }

 #skills{
   background-color: #ECEFF1;
   text-align: center;
   background-attachment: fixed;
   padding-top: 25px;
   padding-right: 100px;
   padding-bottom: 25px;
   padding-left: 100px;
 }

 .col-1, .col-2{
   float: left;

 }

 .col-1{
   width: 60%;
   text-align: center;
   padding-right: 2.5%;

 }

 ul{
   padding-top: 30px;
 }

 .dev {
   display: inline-block;
   border: 2px solid rgba(57,57,57,.5);
   text-align: center;
   margin: 10px 10px 10px 0;
   padding: 0;
   width: 100px;
   height: 100px;
   line-height: 7;
   font-size: 14px;
 }

 #work{
   text-align: center;
   padding-top: 25px;
   padding-right: 100px;
   padding-bottom: 25px;
   padding-left: 100px;
 }

 #contact{
   text-align: center;
   padding-top: 25px;
   padding-right: 100px;
   padding-bottom: 25px;
   padding-left: 100px;

 }

 .gh{

   padding-top: 10px;
 }

 .mooch{
   display: inline-block;
 }

 .mc{
   display: inline-block;
   padding-top: 10px;
 }

.stuff-written{
  text-align: center;
}

.post-container{
  text-align: center;
  width:900px;
  height:100px;
  margin:auto;
  margin-bottom: 30px;
}

 .post-post{
     position: relative;
     padding: 1em;
     padding-top: 1em;
     padding-right: 1em;
     padding-bottom: 1em;
     padding-left: 1em;
     margin-bottom: 1em;
     background-color: #fff;
     border: 1px solid #ccc;
 }

 .date p{
     position: absolute;
     top: 1em;
     right: -10px;
     padding: .5em;
     padding-top: 0.5em;
     padding-right: 0.5em;
     padding-bottom: 0.5em;
     padding-left: 0.5em;
     background-color: #6cf;
     font-weight: bold;
     font-size: 1.25em;
     color: #fff;
}

.date p::after {
    content: '';
    position: absolute;
    top: 100%;
    right: 0;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px;
    border-top-color: #00008B;
    border-left-color: #00008B;
}



.form-rails{
  text-align: center;
  width:100%;
	margin:auto;
  margin-top: -40px;
  margin-bottom: 60px;
	max-width:525px;
	min-height:420px;
	position:relative;
  background:#0074D9;
  box-shadow: 10px 10px 5px #888888
}

.sign-form{
  width:100%;
	height:100%;
	position:absolute;
  text-align:center;
  color:#ccc;
  margin-bottom:24px;
  font-family: 'Raleway', sans-serif;
}

.sign-form .btn{
  position:relative;
  border:0;
  background:#6cf;
  font-size:1em;
  color:#fff;
  border-radius: 50px
}

.edit-user{
  width:100%;
  height:100%;
  position:relative;
  text-align:center;
  color:#ccc;
  margin-bottom:24px;
  font-family: 'Raleway', sans-serif;
}

 #main_footer{
   padding: 2em 5%;
   border-top: 1px;
   background: #000000;
   bottom: 0;
   width: 100%;
   overflow: hidden;
}


 .copyright{
   display: block;
   float: right;


 }

 .blog_title{
    font-weight: 400;
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
    margin-top: 0;
  }

  .post_wrapper{
    width: 80%;
    margin: 0 auto;
  }


 .date{
   font-size: .9em;
   margin: 0;

 }

 .post h2{
   margin: 0;
   font-size: 2em;
   text-transform: uppercase;
 }


 .modal{
   display: inline;
   margin: auto;
   max-width: max-content;
   max-height: max-content;
 }

 a.close-modal[class*="icon-"] {
   top: -10px;
   right: -10px;
   width: 20px;
   height: 20px;
   color: #fff;
   line-height: 1.25;
   text-align: center;
   text-decoration: none;
   text-indent: 0;
   background: #900;
   border: 2px solid #fff;
   -webkit-border-radius:  26px;
   -moz-border-radius:     26px;
   -o-border-radius:       26px;
   -ms-border-radius:      26px;
   -moz-box-shadow:    1px 1px 5px rgba(0,0,0,0.5);
   -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
   box-shadow:         1px 1px 5px rgba(0,0,0,0.5);
 }

.pagination-wrapper{
   text-align: center;
}

.form-container{
  text-align:center;
}
input[type="text"], input[type="email"], input[type="password"], textarea {
	width: 40%;
	max-width: 100%;
	height: 2em;
	border: 2px solid $border;
	padding: 1em;
	margin: 5px 0 5px 0;
}

textarea {
	min-height: 20em;
}

input[type="submit"], .button {
	outline: none;
	background: transparent;
	border: 2px solid $border;
	text-align: center;
	font-size: 1em;
	color: $dark;
	text-decoration: none;
	padding: 1em 2em;
}
