header{
	text-align: center;
	}
 #post_show_content{
	text-align: center;
}

.content{
	text-align: justify;
	padding-left: 200px;
	padding-right: 200px;
}


#admin_links {
	border-top: 1px solid $border;
	border-bottom: 1px solid $border;
	text-align: center;
	padding: 1em 0;
	margin: 3em 0;
}


#share-box {
	text-align: center;
	text-transform: uppercase;
	font-size: 25px;
	padding-top: 100px;
}

#disqus_thread {
	text-align: center;
	padding-left: 300px;
	padding-right: 300px;
}
